In [58]:
#1
class Calculator:
    def __init__(self):
        self.value = 0
    
    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

#위 클래스를 상속하는 UpgradeCaculator 를 만들고, 값을 뺄 수 있는 -= 을 넣어서 minus 메서드에 삽입

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

In [62]:
# 2
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.valut += val

class MaxLimitCalculator(Calculator):
    def add(self, val):        
        self.value += val
        if self.value > 100:
            self.value = 100

# Calculator 클래스를 상속하고, add 메서드를 오버라이딩해서 100보다 큰 값이 나올 때 100을 반환하는 클래스 만들어줌

cal = MaxLimitCalculator()
cal.add(100)
cal.add(40)

print(cal.value)

100

In [67]:
# 3
all([1, 2, abs(-3)-3])
# False: abs는 python 의 내장함수인데, 절댓값을 반환하는 함수임. 그래서 -3도 3으로 인식됨.
# 1은 참이고 2도 참이지만, abs(-3)이 3을 반환하므로 3-3=0 이 되어 거짓이됨. (all 리스트에 0이 반환되면 False 로 간주함)

chr(ord('a')) == 'a'
# True

True

In [2]:
# 4 filter 와 lambda 를 사용해서 리스트 [1,-2,3,-5,8,3] 에서 음수를 제거해보자.
list(filter(lambda x: x >= 0, [1, -2, 3, -5, 8, 3]))
# filter 함수로 filter(function, iterable) 두개의 인수를 받아옴, function 은 각 요소에 적용할 함수로써 True 또는 False를 반환해야함
# 여기서 iterable은 함수가 적용될 데이터를 말하며, 여기서는 리스트 1,-2 ~ 어쩌구를 말함. 

# lambda 함수는 간단한 함수를 익명으로 정의하는 방법임. 여기서 lambda x: x >= 0 은 입력값 x가 0보다 크거나 같으면 True,
# 그렇지 않으면 False 반환시킴. 즉 양수와 0만 통과시키고 음수는 걸러냄

[1, 3, 8, 3]

In [13]:
# 5
int('0xea', 16)
# hex(234) 에서 234라는 10진수를 16진수로 바꿔줬다. 이번에는 반대로 16진수 문자열 '0xea'를 10진수로 변경해보자.
# 내장함수 int를 활용하면 쉽다고하니, int로 '0xea' 를 묶어서 써보니 값이 나왔다. 
# int(0xea) 는 되지만, int(0xea, 16) 은 비 문자열로 인식하여 타입에러가 뜬다. 그래서 앞에껄 묶어주면 댐

234

In [14]:
# 6
list(map(lambda x: x*3, [1,2,3,4]))
# 4번에서 하던 방식으로 해보니까 댐. 알아보니 map 이 filter와 같이 mab(function, iterable) 두개의 인수를 받아옴.

[3, 6, 9, 12]

In [19]:
# 7
#list = [-8, 2, 7, 5, -3 , 5, 0, 1]
#max(list) + min(list)
# tip. list는 기본 자료형이기 때문에 변수명으로 list를 사용하는 것보단 이름을 바꿔서 쓰는게 좋다

Num = [-8, 2, 7, 5, -3 , 5, 0, 1]
max(Num) + min(Num)
# -8 + 7 = -1
# max = 주어진 iterable(반복 가능한 객체) 또는 여러 개의 인수 중에서 가장 큰 값을 반환
# min = 주어진 iterable(반복 가능한 객체) 또는 여러 개의 인수 중에서 가장 작은 값을 반환

-1

In [27]:
# 8
x = 17 / 3
round(x, 4)
# round() 는 파이썬 기본 내장함수이다. 이를 사용하면 주어진 숫자를 지정한 소수점 자릿수에 맞춰 반올림하는 역할을 해줌
# 정수, 실수, 복소수 등 모든 숫자에 적용가능하다

5.6667

In [31]:
# 9 - 미완
import os
os.chdir("c:/doit")

FileNotFoundError: [Errno 2] No such file or directory: 'c:/doit'

In [ ]:
# 10 - 미완

In [35]:
# 11
import time #import time으로 time 모듈의 기능을 사용할 수 있도록 불러옴. 시간 관련 작업을 수행하는데 유용한 여러 기능 제공함(현재시간,UTC 등)
time.strftime("%Y/%m/%d %H:%M:%S") #time 모듈과 strftime 함수를 같이 써서 안에 들어갈 포맷 인자를 현재 시간으로 포맷하여 문자열로 변환함
# time 모듈의 함수인 strftime 을 불러옴. strftime = string format time
# 대소문자 구분은 표준화된 규칙에 따라 정해져있기 때문에, 년도(대문자Y) / 월(소문자m) 등 지키지 않으면 이상한 결과값이 나옴

'2024/11/04 17:35:27'

In [51]:
# 12 random 모듈을 사용하여 로또 번호 (1~45 사이의 숫자 6개를 생성). 중복 숫자 없어야함
import random  
print(sorted(random.sample(range(1,46),6)))
# ramdom 모듈에서 제공하는 sample 함수를 사용해서, 리스트나 범위 안에서 무작위로 지정한 개수만큼의 값을 선택해줌
# ㄴ 기본 문법: random.sample(데이터, 선택할 개수)
# sample : 같은 숫자를 뽑지 않기에 중복이 없으며, 순서가 섞여서 나옴.
# 순서를 정렬하기 위해 sorted 함수를 사용 (리스트로 된 숫자들을 오름차순으로 정렬함)

[4, 12, 13, 17, 31, 37]

In [58]:
# 13 누나 1995/11/20 , 동생 1998/10/6 며칠 차이 날까요? datetime.time 쓰래요
import datetime
print(abs(datetime.date(1995, 11, 20) - datetime.date(1998, 10, 6)).days)

# 두 날짜 간의 차이를 계산하고, 그 결과를 일(day) 단위로 출력.
# 음수로 나오는 부분을 배제시키기 위해 abs() 내장함수를 통해 정수로 출력.

1051

In [71]:
# 14
import operator
data = [('윤서현', 15.25), # data: 이름과 숫자 값을 넣은 튜플 리스트
    ('김예지', 15.31),
    ('박예원', 15.34),
    ('송순자', 15.57),
    ('김시우', 15.48),
    ('배숙자', 17.9),
    ('전정웅', 13.39),
    ('김혜진', 16.63),
    ('최보람', 17.14),
    ('한지영', 14.83),
    ('이성호', 17.7),
    ('김옥순', 16.71),
    ('황민지', 17.65),
    ('김영철', 16.7),
    ('주병철', 15.67),
    ('박상현', 14.16),
    ('김영순', 14.81),
    ('오지아', 15.13),
    ('윤지은', 16.93),
    ('문재호', 16.39)]
sorted_data = sorted(data, key=operator.itemgetter(1))
print(sorted_data)
# sorted() 함수에 key=operator.itemgetter(1)을 지정하여 각 튜플의 두 번째 요소인 숫자를 기준으로 오름차순 정렬

[('전정웅', 13.39), ('박상현', 14.16), ('김영순', 14.81), ('한지영', 14.83), ('오지아', 15.13), ('윤서현', 15.25), ('김예지', 15.31), ('박예원', 15.34), ('김시우', 15.48), ('송순자', 15.57), ('주병철', 15.67), ('문재호', 16.39), ('김혜진', 16.63), ('김영철', 16.7), ('김옥순', 16.71), ('윤지은', 16.93), ('최보람', 17.14), ('황민지', 17.65), ('이성호', 17.7), ('배숙자', 17.9)]

In [89]:
# 15
import itertools

result = list(itertools.permutations(['나지혜', '성성민', '윤지현', '김정숙'], 2))
print(result)

TypeError: 'list' object is not callable

In [43]:
result = 0

def add(num):
    global result
    result += num
    return result

print(add(3))
print(add(4))

3
7

In [2]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
3
10

In [3]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 -= num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
-3
-10

In [4]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [10]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

    def sub(self, num):
        self.result -= num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()
cal3 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))
print(cal3.sub(10))
print(cal3.sub(10))

3
7
3
10
-10
-20

In [16]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 8)
b.div()

0.375

In [17]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [28]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
a = FourCal(4,2)
a.add()

6

In [38]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
class MoreFourCal(FourCal):
    pass
a = MoreFourCal(4, 2)
a.add(), a.mul(), a.sub(), a.div()

(6, 8, 2, 2.0)

In [39]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
a = FourCal(4, 0)
a.div()

ZeroDivisionError: division by zero

In [41]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.first / self.second
a = SafeFourCal(4, 0)
a.div()

0

In [42]:
class Family:
    lastname = "김"
Family.lastname

'김'

In [45]:
class Family:
    lastname = "김"
a = Family()
b = Family()
a.lastname, b.lastname

('김', '김')

In [49]:
def add(a, b):
    return a + b
def sub(a, b):
    return a - b